.container_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_card .medium {
  margin-top: 25px;
  width: 70%;
  text-align: center;
}
.container_card h1 {
  margin-top: 100px;
}
.container_card .coins-wrap {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.container_card .coins-wrap .plus-text {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  margin-right: 12px;
}
.container_card .coins-wrap .coins {
  display: flex;
}
.container_card .coins-wrap img {
  height: 45px;
  margin-right: -28px;
}
.container_card .btn {
  margin-top: 80px;
  box-shadow: 0px 11px 20px 0px rgba(255, 117, 1, 0.4);
  background: linear-gradient(159deg, rgb(255, 187, 1) 15%, rgb(255, 117, 1) 100%);
  border-radius: 18px;
  height: 80px;
  line-height: 80px;
  width: 90%;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 19px;
  text-decoration: none;
  transition: scale 0.3s ease;
}
.container_card .btn:hover, .container_card .btn:active {
  scale: 95%;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container, .container_card {
  text-align: center;
  background: #fff;
  padding: 55px 20px 10px 20px;
  padding-bottom: 270px;
  max-width: 500px;
}

.title {
  margin: 10px 0 7px 0;
  font-size: 24px;
  font-weight: 900;
}

.current-status {
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  font-weight: 800;
}
.current-status.bronze {
  color: #FF6D00;
}

.coin img {
  width: 68%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.coin-img {
  filter: saturate(120%);
}

.balance {
  margin: 10px;
  font-size: 48px;
  font-family: "Pixelify Sans", sans-serif;
  font-weight: 900;
}
.balance .balance-small {
  font-size: 12px;
}
.balance .currency {
  font-size: 42px;
  color: #FF6D00;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
}

.leaderboard {
  margin-top: 35px;
  margin-bottom: 43px;
}
.leaderboard h2 {
  font-size: 16px;
  font-weight: 600;
}
.leaderboard .leaders-wrap {
  display: flex;
  justify-content: center;
}
.leaderboard .leaders-wrap .leaders {
  width: 80%;
  text-align: left;
  margin-top: 10px;
}
.leaderboard .leaders-wrap .leaders .row {
  margin-bottom: 10px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.leaderboard .leaders-wrap .leaders .row .user-photo {
  margin-right: 10px;
}
.leaderboard .leaders-wrap .leaders .row .user-photo img {
  height: 30px;
  border-radius: 50%;
}
.leaderboard .leaders-wrap .leaders .row .right {
  display: flex;
  flex-direction: columns;
}
.leaderboard .leaders-wrap .leaders .row .left {
  display: flex;
  flex-direction: columns;
}
.leaderboard .leaders-wrap .leaders .row .number {
  margin-right: 10px;
  font-style: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6px;
}
.leaderboard .leaders-wrap .leaders .row .name-wrap {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}
.leaderboard .leaders-wrap .leaders .row .name-wrap .name {
  font-size: 16px;
  margin-bottom: 2px;
}
.leaderboard .leaders-wrap .leaders .row .name-wrap .user-status {
  font-size: 10px;
}
.leaderboard .leaders-wrap .leaders .row .points {
  margin-right: 5px;
  font-family: "Pixelify Sans", sans-serif;
}
.leaderboard .leaders-wrap .leaders .row .coin-small {
  margin: 0 0 -3px 0;
}
.leaderboard .leaders-wrap .leaders .row .coin-small img {
  height: 18px;
}
.leaderboard .leaders-wrap .leaders .row .emerald {
  color: green;
}
.leaderboard .leaders-wrap .leaders .row .gold {
  color: gold;
}
.leaderboard .leaders-wrap .leaders .row .bronze {
  color: #FF6D00;
}

.tasks {
  text-align: left;
}
.tasks h2 {
  font-size: 24px;
  font-weight: 800;
}
.tasks .task-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.tasks .task {
  text-decoration: none;
  box-shadow: 0px 11px 20px 0px rgba(255, 117, 1, 0.4);
  background: linear-gradient(159deg, rgb(255, 187, 1) 15%, rgb(255, 117, 1) 100%);
  color: #fff;
  padding: 22px 7px;
  border-radius: 18px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  transition: scale 0.3s ease;
}
.tasks .task:hover, .tasks .task:active {
  scale: 95%;
}
.tasks .task .logo {
  margin-bottom: 10px;
}
.tasks .task .logo img {
  width: 60%;
}/*# sourceMappingURL=style.css.map */