@font-face {
  font-family: "Minecraft";
  src: url("fonts/minecraft-1-1.eot");
  src: url("fonts/minecraft-1-1.eot?#iefix") format("embedded-opentype");
  src: url("fonts/minecraft-1-1.otf") format("opentype");
  src: url("fonts/minecraft-1-1.svg") format("svg");
  src: url("fonts/minecraft-1-1.ttf") format("truetype");
  src: url("fonts/minecraft-1-1.woff") format("woff");
  src: url("fonts/minecraft-1-1.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.bounce {
  animation: bounce 0.6s ease-in-out forwards;
}

.container_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container_card .medium {
  margin-top: 25px;
  width: 70%;
  text-align: center;
}
.container_card h1 {
  margin-top: 100px;
}
.container_card .coins-wrap {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}
.container_card .coins-wrap .plus-text {
  font-family: "Minecraft", sans-serif;
  font-weight: 900 !important;
  font-size: 32px;
  margin-right: 12px;
}
.container_card .coins-wrap .coins {
  display: flex;
}
.container_card .coins-wrap img {
  height: 45px;
  margin-right: -28px;
}
.container_card .photo-upload {
  display: flex;
  width: 90%;
  justify-content: start;
  align-items: start;
  margin-top: 80px;
}
.container_card .photo-upload .input-file-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 999px;
  background: #333;
  color: white;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 14px;
}
.container_card .photo-upload input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.container_card .btn {
  margin-top: 20px;
  box-shadow: 0px 11px 20px 0px rgba(1, 141, 255, 0.4);
  background: linear-gradient(159deg, #019eff 15%, #0501ff 100%);
  border-radius: 18px;
  height: 55px;
  line-height: 55px;
  width: 90%;
  border: none;
  color: white;
  font-weight: 800;
  font-size: 19px;
  text-decoration: none;
  transition: transform 0.2s ease;
  transform: none;
}
.container_card .btn:hover, .container_card .btn:active {
  transform: scale(0.95);
}

#loadingOverlay {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  text-align: center;
}
.loader-container .loader {
  width: 64px;
  height: 64px;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container, .container_card {
  text-align: center;
  background: #fff;
  padding: 55px 20px 10px 20px;
  padding-bottom: 270px;
  max-width: 500px;
}

.title {
  margin: 10px 0 7px 0;
  font-size: 24px;
  font-weight: 900;
}

.current-status {
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  font-weight: 800;
}
.current-status.bronze {
  color: #2B32DB;
}
.current-status.golden {
  color: #FFBB01;
}
.current-status.platinum {
  color: #aacadf;
}

.coin img {
  width: 62%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0;
  margin: 15px;
  box-shadow: 0px 8px 20px 0px rgba(40, 74, 185, 0.5);
  border-radius: 800px;
}

.coin-img {
  filter: saturate(120%);
}

.balance {
  margin: 10px;
  font-size: 35px;
  font-family: "Minecraft", sans-serif;
  font-weight: 900;
}
.balance .balance-small {
  font-size: 12px;
}
.balance .currency {
  font-size: 42px;
  color: #2B32DB;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
}

.leaderboard {
  margin-top: 35px;
  margin-bottom: 43px;
}
.leaderboard h2 {
  font-size: 16px;
  font-weight: 600;
}
.leaderboard .leaders-wrap {
  display: flex;
  justify-content: center;
}
.leaderboard .leaders-wrap .leaders {
  width: 90%;
  text-align: left;
  margin-top: 10px;
}
.leaderboard .leaders-wrap .leaders .row {
  margin-bottom: 10px;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.leaderboard .leaders-wrap .leaders .row .user-photo {
  margin-right: 10px;
}
.leaderboard .leaders-wrap .leaders .row .user-photo img {
  height: 30px;
  border-radius: 50%;
}
.leaderboard .leaders-wrap .leaders .row .right {
  display: flex;
  flex-direction: columns;
}
.leaderboard .leaders-wrap .leaders .row .left {
  display: flex;
  flex-direction: columns;
}
.leaderboard .leaders-wrap .leaders .row .number {
  margin-right: 10px;
  font-style: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -6px;
}
.leaderboard .leaders-wrap .leaders .row .name-wrap {
  margin-right: 70px;
  display: flex;
  flex-direction: column;
}
.leaderboard .leaders-wrap .leaders .row .name-wrap .name {
  font-size: 16px;
  margin-bottom: 2px;
}
.leaderboard .leaders-wrap .leaders .row .name-wrap .user-status {
  font-size: 10px;
}
.leaderboard .leaders-wrap .leaders .row .points {
  margin-right: 5px;
  font-family: "Minecraft", sans-serif;
  font-weight: 900;
}
.leaderboard .leaders-wrap .leaders .row .coin-small {
  margin: 0 0 -3px 0;
}
.leaderboard .leaders-wrap .leaders .row .coin-small img {
  height: 18px;
}
.leaderboard .leaders-wrap .leaders .row .emerald {
  color: green;
}
.leaderboard .leaders-wrap .leaders .row .golden {
  color: #FFBB01;
}
.leaderboard .leaders-wrap .leaders .row .bronze {
  color: #2B32DB;
}
.leaderboard .leaders-wrap .leaders .row .platinum {
  color: #aacadf;
}

.tasks {
  text-align: left;
}
.tasks h2 {
  font-size: 24px;
  font-weight: 800;
}
.tasks .task-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.tasks .task {
  text-decoration: none;
  box-shadow: 0px 11px 20px 0px rgba(1, 141, 255, 0.4);
  background: linear-gradient(159deg, #01aaff 15%, #013cff 100%);
  color: #fff;
  padding: 22px 7px;
  border-radius: 18px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  transition: scale 0.3s ease;
}
.tasks .task:hover, .tasks .task:active {
  scale: 95%;
}
.tasks .task .logo {
  margin-bottom: 10px;
}
.tasks .task .logo img {
  width: 60%;
}/*# sourceMappingURL=style.css.map */